NEXT_PUBLIC_API_URL=http://localhost:5000
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=509163374408-3srencpclai8g3olnbjgmr859fjkuhdo.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyBvdTFM4YSNIndeXB3A8YpEONaZCGtF6A8
